.sass-cache/
.bundle
public/javascripts/app_error_handler.js
supportbeeapp_production.sql
solr/data
db/*.qlite3
log/*.log
tmp/**/*
config/database.yml
config/sb_config.yml
config/secret_config.yml
tmp/*
public/javascripts/backbone/**/**/*.js
public/javascripts/backbone/*.js
public/javascripts/backbone/collections/
public/javascripts/backbone/models/
doc/api
doc/app
*.swp
*.swo
*.swm
*.un~
*˜
.DS_Store
schema.rb
.tags
emails/*
public/uploads/*
public/images/twitter_auth.png
public/assets
public/javascripts/backbone/libs/
public/javascripts/spin.js
public/javascripts/utility.js
public/javascripts/admin/
public/javascripts/backbone-rails.js
public/javascripts/payments.js
public/javascripts/widget/script_coffee.js
public/javascripts/app_error_handler.js
public/javascripts/sb.apps.js
public/stylesheets/admin/ie.css
public/stylesheets/admin/ie6.css
public/stylesheets/admin/print.css
public/stylesheets/admin/screen.css
public/stylesheets/admin/theme.css
public/stylesheets/app/ie.css
public/stylesheets/app/ie6.css
public/stylesheets/app/layout.css
public/stylesheets/app/screen.css
public/stylesheets/app/theme.css
public/stylesheets/app/account.css
public/stylesheets/app/screen_responsive.css
public/stylesheets/embed_form.css
public/stylesheets/formtastic_changes.css
public/stylesheets/app/email.css
public/stylesheets/common/marketing.css
public/stylesheets/common/sprite.css
public/stylesheets/common/blueprint_tabs.css
public/stylesheets/widget/
spec/javascripts/backbone/
spec/javascripts/admin
spec/javascripts/UtilitySpec.js
spec/javascripts/BackboneRailsSpec.js
spec/javascripts/helpers/SpecHelper.js
*.swn
uploads/
bin/
lib/daemons/log
log/
.sass-cache/
tags
.rvmrc
bundler_stubs/
*.swg
*.swh
*.swi
*.swj
*.swk
*.swl
public/stylesheets/common/tinymce.css
public/stylesheets/common/tinymce_ui.css
